*{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.left{
    width: 25vw;
    padding: 15px 2px 15px 15px;
}

.right{
    width: 75vw;
    padding: 15px 15px 15px 0px;
}

.home ul li{
    display: flex;
    width: 15px;
    list-style: none;
    gap: 15px;
    padding-top: 15px;
    font-weight: bold;
}
.home ul{
    margin-left: 35px;
}
.button button{
    font-size: x-large;
    width: 30px;
    height: 30px;
    all: unset;                   
    display: inline-block;        
    cursor: pointer;
}
.logo div{
    padding: 15px;
}
.library{
    font-weight: bold;
    padding: 10px;
    height: 80vh;
}
.library div{
    padding: 10px;
}
.plus {
    margin-left: 120px;
    display: inline-flex;
    align-items: center;
    gap: 8px;                    /* space between icon and text */
    padding: 8px 12px;         
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    border: none;
    border-radius: 100%;        
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.library div img{
    height: 23px;
}
.text1{
    font-weight: 300;
    font-size: 15px;
}
.head1{
    margin: 0px;
    padding: 0px;
}
.footerleft div{
    margin: 10px;
    font-size: 11px;
}
.footerleft div a{
    text-decoration: none;
    color: inherit;
}

.barbutton{
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 30px;
    width: 30px;
    justify-content: center;
    border-radius: 50%;
    border-width: 0px;
    font-size: 22px;
    cursor: pointer;
}
.bar{
    padding: 5px;
}
.sign{
    margin-left: 1.5vw;
    display: inline-flex;
    align-items: center;
    height: 50px;
    width: 110px;
    border-radius: 500px;
    justify-content: center;
    font-weight:bolder;
    background-color: white;
    border-width: 0px;
    cursor: pointer;
}
.signup{
    margin-left: 3vw;
} 